<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
</head>

<body class=perez_body>
    {% include "body_header.html" %}
    <div class="container">
        <br>
        <h5><i>I'm Carl Perez.</i></h5>
        <hr class="perez_hr">
        <p>I'm a Computer Engineer and a beekeeper.
         I've been beekeeping for 8 years, and engineering for 3 years.
         My primary field within Engineering is DevOps, which is primarily focused
         on creating and maintaining the infrastructure for the software development
         cycle. Think of software development as a beehive, and the bees as software
         engineers. Bees make honey, but require the proper environment to do so.
         Beekeepers are the DevOps engineers of bees. We maintain the proper environment
         for production.
        </p>
        <hr class="perez_hr">
        <div class="row">
            <div class="four columns">
                <h5 style="margin-bottom: 1rem;">Hobbies</h5>
            </div>
            <div class="eight columns">
                <h5>Favorite Media</h5>
            </div>
        </div>
        <div class="row">
            <div class="four columns">
                <ul>
                    <li>Beekeeping</li>
                    <li>Cooking</li>
                    <li>Automation</li>
                    <li>Political Science/Theory</li>
                    <li>Automotive Repair</li>
                    <li>Cultural Criticism</li>
                </ul>
            </div>

            <div class="four columns">
                <h6 style="margin-bottom: 1rem;">Movies</h6>
                <ul>
                    <li>
                        <img class="perez_logo"
                             src="{{ url_for("static", filename="img/mononoke.png") }}">
                        </img>
                        Princess Mononoke</li>
                    <li><img class="perez_logo"
                             src="{{ url_for("static", filename="img/downfall.png") }}">
                        </img>
                        Der Untergang</li>
                    <li><img class="perez_logo"
                             src="{{ url_for("static", filename="img/littleprince.png") }}">
                        The Little Prince</li>
                </ul>
            </div>
            <div class="four columns">
                <h6 style="margin-bottom: 1rem;">Music</h6>
                    <ul>
                        <li><img class="perez_logo"
                                 src="{{ url_for("static", filename="img/twy.png") }}">
                            The Wonder Years</li>
                        <li><img class="perez_logo"
                                 src="{{ url_for("static", filename="img/wccompose.png") }}">
                            Masakatsu Takagi</li>
                        <li><img class="perez_logo"
                                 src="{{ url_for("static", filename="img/tessaviolet.png") }}">
                            Tessa Violet</li>
                        <li><img class="perez_logo"
                                 src="{{ url_for("static", filename="img/dwoods.png") }}">
                            Donovan Woods</li>
                    </ul>
            </div>
        </div>
    </div>
</body>

</html>
