<header class="perez_header" role="banner">
    <div class="row" >
        <a href="/" class=perez_heading>
            <h1>perez<img class="perez_pic" src="{{ url_for("static", filename="img/perez_pic.png") }}"></img>wiki</h1>
        </a>
    </div>

    <div class="row">
        <div class="three columns">
            <a class="button" href="/resume">Resume</a>
        </div>
        <div class="three columns">
            <a class="button" href="/projects">Projects</a>
        </div>
        <div class="three columns">
            <a class="button" href="/about">About</a>
        </div>
        <div class="three columns">
            <a class="button" href="/contact">Contact</a>
        </div>
    </div>
</header>
