<header class="perez_header" role="banner">
    <div class="row" >
        <a href="/de/" class=perez_heading>
            <h1>perez<img class="perez_pic" src="{{ url_for("static", filename="img/perez_pic.png") }}"></img>wiki</h1>
        </a>
    </div>

    <div class="row">
        <div class="two columns">
            <a class="button" href="/de/resume">Lebenslauf</a>
        </div>
        <div class="two columns">
            <a class="button" href="/de/projects">Projekte</a>
        </div>
        <div class="two columns">
            <a class="button" href="/de/about">Über mich</a>
        </div>
        <div class="two columns">
            <a class="button" href="/de/contact">Kontakt</a>
        </div>
        <div class="four columns" style="text-align: right;">
            <a class="button" href="{{ toggle_url }}">EN</a>
        </div>
    </div>
</header>
