<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
</head>

<body class=perez_body>
    {% include "body_header.html" %}
    <div class="container">
        <br>
        <h5>The best ways to contact me are Gmail and LinkedIn.</h5>
        <hr class="perez_hr">
        <a href="mailto:carlp941@gmail.com" target="_blank">
            <img class="perez_logo"
                 src="{{ url_for("static", filename="img/gmail.png") }}">
                 <b>Gmail</b>
            </img>
        </a>
        <br>
        <a href="https://www.linkedin.com/in/carl-perez-2ab649130/"
           target="_blank">
            <img class="perez_logo"
                 src="{{ url_for("static", filename="img/linkedin.png") }}">
                 <b>LinkedIn</b>
            </img>
        </a>
    </div>
</body>

</html>
