<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Perez's Personal Place</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS -->
    <link rel="stylesheet" href="static/css/stylesheet.css">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/skeleton.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="static/favicon.png">

</head>

<body class=perez_body>
    <div class="container">

        <div class="row">
            <h1>perez<img class="perez_pic" src="static/img/perez_pic.png" alt=""></img>wiki</h1>
        </div>


        <div class="row">
            <div class="three columns">
                <a class="button" href="#">Resume</a>
            </div>
            <div class="three columns">
                <a class="button" href="#">Projects</a>
            </div>
            <div class="three columns">
                <a class="button" href="#">About</a>
            </div>
            <div class="three columns">
                <a class="button" href="#">Contact</a>
            </div>
        </div>
    </div>
</body>

</html>
