<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
</head>


<body class=perez_body>
    {% include "body_header.html" %}
    <div class="container">
        <br>
        <h6>Welcome to the perez wiki. Use the above links to access information about me.</h6>
        <h6><i>Click on my face to get back here!</i></h6>
        <hr class="perez_hr">
        <p class="perez_built_with"><b>This website was built with:</b></p>
        <a href="http://getskeleton.com" target="_blank">
            <img class="perez_logo" style="width: 32px; length: 32px;"
                 src="{{ url_for("static", filename="img/skeleton.png") }}">
            </img>
        </a>
        <a href="http://jinja.pocoo.org" target="_blank">
            <img class="perez_logo"
                 src="{{ url_for("static", filename="img/jinja.png") }}">
            </img>
        </a>
        <a href="http://flask.pocoo.org" target="_blank">
            <img class="perez_logo"
                 src="{{ url_for("static", filename="img/flask.png") }}">
            </img>
        </a>
        <a href="https://gunicorn.org" target="_blank">
            <img class="perez_logo"
                 src="{{ url_for("static", filename="img/gunicorn.png") }}">
            </img>
        </a>
        <a href="https://nginx.com" target="_blank">
            <img class="perez_logo"
                 src="{{ url_for("static", filename="img/nginx.png") }}">
            </img>
        </a>
        <hr class="perez_hr">
        <p class="perez_built_with"><b>This website is hosted by:</b></p>
        <a href="https://digitalocean.com" target="_blank">
            <img class="perez_logo"
                 src="{{ url_for("static", filename="img/digital_ocean.png") }}">
            </img>
        </a>
    </div>
</body>

</html>
