<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
</head>

<body class=perez_body>
    {% include "body_header.html" %}
    <div class="container">
        <br>
        <h5>Below are all my personal and academic projects.</h5>
        <hr class="perez_hr">
        <a href="https://github.com/cperez941/Parallel-Image-Processing"
           target="_blank">
            <img class="perez_logo"
                 src="{{ url_for("static", filename="img/tensorflow.png") }}">
            </img>
            <b>BCIC</b> - a distributed TensorFlow-based Image Processor
        </a>
        <br>
        <a href="https://github.com/cperez941/CyberVision"
           target="_blank">
            <img class="perez_logo"
                 src="{{ url_for("static", filename="img/matlab.png") }}">
            <b>CyberVision</b> - a MatLab/Python Image Blender and Motion Detector
            </img>
        </a>
        <br>
        <a href="https://github.com/cperez941/perez_wiki"
           target="_blank">
            <img class="perez_logo"
                 src="{{ url_for("static", filename="img/favicon.ico") }}">
            </img>
            <b>perez.wiki</b> - this website!
        </a>
    </div>
</body>

</html>
