<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
</head>

<body class=perez_body>
    {% include "body_header.html" %}
    <div class="container">
        <br>
        <p>Below is a pdf version of my resume. Right click on the document to download it directly.</p>
        <object width="800" height="600"
                data="{{ url_for("static", filename="pdf/Resume.pdf") }}?#zoom=85&scrollbar=0&toolbar=0&navpanes=0">
        </object>
        <br>
        <i>If you cannot see the pdf, download it
            <a
                  href="{{ url_for("static", filename="pdf/Resume.pdf") }}">
                  here.
            </q>
        </i>
    </div>
</body>

</html>
