<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
</head>

<body class=perez_body>
    <div class="container">

        {% include "body_header.html" %}

        Carl Perez
        Contact Info : (318)-453-1052 || carlp941@gmail.com
        Address : 5961 Highway 145, Ruston LA 71270
        Github : cperez941

        Education
        Aug ‘14 – Feb ‘19 : Louisiana Tech University
        Major: Cyber Engineering, 2.97 GPA

        Work Experience
        Feb ’16 – Present  : DevOps Consultant - Fenway Group
        Development of Continuous Delivery, Integration, Monitoring, & Failover systems for a large scale WebLogic application (bundled with Apache Tomcat Services) with Chef, Python, BASH, and Jenkins

        Development of a Node.JS Web Application for Wellington Financial to communicate with MySQL, Oracle, and Postgre databases containing financial information

        Skills/Expertise

        PROJECTS
        Freshman Design                   Roommate Tracker
        Arduino & Python core with systems of sensors to alert user to roommate activity.
        Senior Design                                     Cyber Vision
        Python & Matlab programs designed by a small team to detect, process, & blend video & images.
        Cloud Computing                                          BCIC
        A TensorFlow-based image processing cluster that splits the load of identifying a breed of dog from an image across multiple Pi’s.

        CERTIFICATIONS
        SCRUM DEVELOPER I - OCT 2016

        METHODOLOGIES
        Agile, Scrum, Kanban

        ORGANIZATIONS
        NAMI - President of the National Alliance on Mental Illness on Louisiana Tech’s Campus – 2017-2018.

        PROGRAMMING
        Scripting & Automation - Python, BASH, SQL, Ruby
        Application Development - Java, C/C++
        Web Development - NodeJS, React, Flask, REST, Bootstrap

        TECHNOLOGIES
        Containers - Tomcat, WebLogic, Gunicorn
        Continuous Integration & Deployment - Jenkins, Chef, Rundeck
        IDE – Vivado, Arduino, STS, Visual Studio, Atom
        OS – Windows 7 & 10, Arch Linux, Debian, CentOS
        Source Control – Git, SVN, Confluence & Stash
        Tracking & Ticketing - Service-Now, JIRA
        Web Standards - WSSE, JSON, SOAP

        References

        Devin Lortz
        DevOps Technical Lead
        Fenway Group
        500-530 Dan Reneau Dr, Ruston, LA 71270
        318-282-8792 dlortz@fenwaygroup.com

        Jenna P. Carpenter , PHD.
        Dean, School of Engineering
        Campbell University
        PO BOX 115, Buries Creek, NC 27506
        910-814-4018
        carpenter@campbell.edu

    </div>
</body>

</html>
