<!DOCTYPE html>
<html lang="de">
<head>
    {% include "header.html" %}
</head>

<body class=perez_body>
    {% include "body_header_de.html" %}
    <div class="container">
        <br>
        <h6>Willkommen beim perez wiki. Benutze die obigen Links, um Informationen über mich zu finden.</h6>
        <h6><i>Klick auf die Blume, um hierher zurückzukehren!</i></h6>
        <hr class="perez_hr">
        <p class="perez_built_with"><b>Diese Website wurde erstellt mit:</b></p>
        <a href="http://getskeleton.com" target="_blank">
            <img class="perez_logo" style="width: 32px; length: 32px;"
                 src="{{ url_for("static", filename="img/skeleton.png") }}">
            </img>
        </a>
        <a href="http://jinja.pocoo.org" target="_blank">
            <img class="perez_logo"
                 src="{{ url_for("static", filename="img/jinja.png") }}">
            </img>
        </a>
        <a href="http://flask.pocoo.org" target="_blank">
            <img class="perez_logo"
                 src="{{ url_for("static", filename="img/flask.png") }}">
            </img>
        </a>
        <a href="https://gunicorn.org" target="_blank">
            <img class="perez_logo"
                 src="{{ url_for("static", filename="img/gunicorn.png") }}">
            </img>
        </a>
        <a href="https://nginx.com" target="_blank">
            <img class="perez_logo"
                 src="{{ url_for("static", filename="img/nginx.png") }}">
            </img>
        </a>
        <hr class="perez_hr">
        <p class="perez_built_with"><b>Diese Website wird gehostet von:</b></p>
        <a href="https://linode.com" target="_blank">
            <img class="perez_logo_linode"
                 src="{{ url_for("static", filename="img/linode.png") }}">
            </img>
        </a>
    </div>
    {% include "footer_de.html" %}
</body>

</html>
