<!DOCTYPE html>
<html lang="de">
<head>
    {% include "header.html" %}
</head>

<body class=perez_body>
    {% include "body_header_de.html" %}
    <div class="container">
        <br>
        <h5>Hier sind alle meine persönlichen und akademischen Projekte.</h5>
        <hr class="perez_hr">
        Klicke auf das Logo links neben jedem Projekt, um dessen Quellcode anzusehen.
        <br>
        Wird gepflegt, wie meine Zeit es erlaubt; diese Liste ist im Grunde nach „wie kürzlich ich daran gearbeitet habe" geordnet.
        <div class="projects_list">
            <a class="project" href="https://github.com/isa-p941/perez_wiki" target="_blank">
                <img class="perez_logo" src="{{ url_for("static", filename="img/favicon.ico") }}">
                <span><b>perez.wiki</b> - diese Website! eine einfache Website, erstellt mit Flask und über GitHub Actions bereitgestellt.</span>
            </a>
            <a class="project" href="https://github.com/isa-p941/infra_perez_wiki" target="_blank">
                <img class="perez_logo" src="{{ url_for("static", filename="img/terraform.png") }}">
                <span><b>infra_perez_wiki</b> - eine Cloud-Infrastruktur-Demonstration, die diese Website bereitstellen kann. Stellt Jenkins auf einem AWS-Cluster und Grafana auf einem Azure-Cluster bereit und richtet eine Deployment-Pipeline für diese Website ein. Demos auf Anfrage verfügbar.</span>
            </a>
            <a class="project" href="https://github.com/isa-p941/find_a_flood" target="_blank">
                <img class="perez_logo" src="{{ url_for("static", filename="img/findaflood.png") }}">
                <span><b>find_a_flood</b> - ein Python-CLI-Tool, das potenziell überflutende Flüsse in deiner Nähe mit NOAA-Pegeldaten findet</span>
            </a>
            <a class="project" href="https://github.com/isa-p941/Parallel-Image-Processing" target="_blank">
                <img class="perez_logo" src="{{ url_for("static", filename="img/tensorflow.png") }}">
                <span><b>BCIC</b> - ein verteilter TensorFlow-basierter Bildprozessor</span>
            </a>
            <a class="project" href="https://github.com/isa-p941/CyberVision" target="_blank">
                <img class="perez_logo" src="{{ url_for("static", filename="img/matlab.png") }}">
                <span><b>CyberVision</b> - ein MatLab/Python Bildmischer und Bewegungsmelder</span>
            </a>
        </div>
    </div>
    {% include "footer_de.html" %}
</body>

</html>
