a, a:link, a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ff5131 !important;
    text-decoration: none;
}

.perez_body {
    background-color: #5472d3;
    color: #ffffff;
    text-align: center;
}

.perez_built_with{
    margin-bottom: -10px;
}

.perez_header {
    color: #ffffff;
    background-color: #002171;
    margin-top: -20px;
}

.perez_heading {
    text-decoration: none;
}

.perez_heading:hover {
    text-decoration: none;
    color: inherit;
}

.perez_hr{
    border-color: #9b0000;
}

.perez_logo {
    width: 64px;
    length: 64px;
    margin: 15px;
    vertical-align: middle;
}

.perez_pic {
    width:128px;
    margin: 10px;
    border:2px solid #ff5131;
    border-radius: 500px;
    vertical-align: middle;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}
